@using FSDBugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="login-container animated fadeInDown">
    <div class="loginbox bg-white">
        <div class="loginbox-title">SIGN IN</div>
        <div class="loginbox-social">
            @*<div class="social-title ">Connect with Your Social Accounts</div>*@
            @*<div class="social-buttons">
                <a href="" class="button-facebook">
                    <i class="social-icon fa fa-facebook"></i>
                </a>
                <a href="" class="button-twitter">
                    <i class="social-icon fa fa-twitter"></i>
                </a>
                <a href="" class="button-linkedin">
                    <i class="social-icon fa fa-linkedin"></i>
                </a>
            </div>*@
        </div>
        @*<div class="loginbox-or">
            <div class="or-line"></div>
            <div class="or">OR</div>
        </div>*@
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="loginbox-textbox">
                <input type="text" name="Email" class="form-control" placeholder="Email" />
            </div>
            <div class="loginbox-textbox">
                <input type="password" name="Password" class="form-control" placeholder="Password" />
            </div>
            <div class="loginbox-forgot">
                <a href="@Url.Action("ForgotPassword","Account")">Forgot Password?</a>
            </div>
            <div class="loginbox-submit">
                <input type="submit" class="btn btn-primary btn-block" value="Log in">
            </div>
        }
        <div class="loginbox-signup">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </div>
    </div>
    @*<div class="logobox" style="height: 100px" !important>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 social-login">
                    <h3>...or login as a Demo User:</h3>
                </div>
            </div>
                
                <div class="col-md-3 intro-form">
                    <div class="home-wrapper text-center">
                        <h3 class="text-center"> Use A Demo Account </h3>

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input value="DemoAdmin@mailinator.com" class="form-control" id="Email" name="Email" type="hidden" />
                                <input value="Abc&123!" class="form-control" id="Password" name="Password" type="hidden" />
                                <input type="submit" value="Administrator Demo" style="width:60%;" class="btn btn-primary btn-shadow btn-rounded w-lg" />
                            </div>
                        }

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input value="DemoProjectManager@mailinator.com" class="form-control" id="Email" name="Email" type="hidden" />
                                <input value="Abc&123!" class="form-control" id="Password" name="Password" type="hidden" />
                                <input type="submit" value="Project Manager Demo" style="width:60%;margin-top:10px;" class="btn btn-primary btn-shadow btn-rounded w-lg" />
                            </div>
                        }

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input value="DemoDeveloper@mailinator.com" class="form-control" id="Email" name="Email" type="hidden" />
                                <input value="Abc&123!" class="form-control" id="Password" name="Password" type="hidden" />
                                <input type="submit" value="Developer Demo" style="width:60%;margin-top:10px;" class="btn btn-primary btn-shadow btn-rounded w-lg" />
                            </div>
                        }

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input value="DemoSubmitter@mailinator.com" class="form-control" id="Email" name="Email" type="hidden" />
                                <input value="Abc&123!" class="form-control" id="Password" name="Password" type="hidden" />
                                <input type="submit" value="Submitter Demo" style="width:60%;margin-top:10px;" class="btn btn-primary btn-shadow btn-rounded w-lg" />
                            </div>
                        }
                    </div>

                </div>
            
        </div>
    </div>*@
</div>

