@model IEnumerable<FSDBugTracker.Models.ApplicationUser>
@using FSDBugTracker.Helpers;

@{
    ViewBag.Title = "Index";
}

<!-- Main Container -->
<div class="main-container container-fluid">
    <div class="page-container">
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="active">Users</li>
                </ul>
            </div>
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1>
                        User Index
                    </h1>
                </div>
                <!--Header Buttons-->
                <div class="header-buttons">
                    <a class="sidebar-toggler" href="#">
                        <i class="fa fa-arrows-h"></i>
                    </a>
                    <a class="refresh" id="refresh-toggler" href="">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                    <a class="fullscreen" id="fullscreen-toggler" href="#">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                </div>
                <!--Header Buttons End-->
            </div>
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="widget">
                            <div class="widget-header ">
                                <span class="widget-caption">Users Lists</span>
                                <div class="widget-buttons">
                                    <a href="#" data-toggle="maximize">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a href="#" data-toggle="collapse">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                    <a href="#" data-toggle="dispose">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="table-toolbar">
                                    <a id="editabledatatable_new" href="@Url.Action("Create","Users")" class="btn btn-primary">
                                        Add New User
                                    </a>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default" href="javascript:void(0);">Tools</a>
                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu dropdown-default">
                                            <li>
                                                <a href="javascript:void(0);">Action</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Another action</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Something else here</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="javascript:void(0);">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("First Name")
                            </th>
                            <th>
                                @Html.DisplayName("Last Name")
                            </th>
                            <th>
                                @Html.DisplayName("Display Name")
                            </th>
                            <th>
                                @Html.DisplayName("eMail")
                            </th>
                            <th>
                                @Html.DisplayName("Roles")
                            </th>
                            <th>
                                @Html.DisplayName("Projects")
                            </th>
                            <th>
                                @Html.DisplayName("Assigned Tickets")
                            </th>
                            <th>
                                @Html.DisplayName("Owned Tickets")
                            </th>
                            <th>
                                @Html.DisplayName("Links")
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => user.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.DisplayName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.Email)
                                </td>
                                <td>
                                    @{
                                        var roleHelper = new UserRolesHelper();
                                        var roles = roleHelper.ListUserRoles(user.Id);
                                        foreach (var roleName in roles)
                                        {
                                            @roleName<br />
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        var projectHelper = new UserProjectHelper();
                                        var projects = projectHelper.ListUserProjects(user.Id);
                                        foreach (var project in projects)
                                        {
                                            @project.Name<br />
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        var ticketHelper = new TicketsHelper();
                                        var assignedTix = ticketHelper.GetAssignedTickets(user.Id);
                                        foreach (var ticket in assignedTix)
                                        {
                                            @ticket.Title<br />
                                        }

                                    }
                                </td>
                                <td>
                                    @{
                                        ticketHelper = new TicketsHelper();
                                        var ownedTix = ticketHelper.GetUserOwnedTickets(user.Id);
                                        foreach (var ticket in ownedTix)
                                        {
                                            @ticket.Title<br />
                                        }

                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = user.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = user.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = user.Id }) |
                                    @if (User.IsInRole("Admin") || (User.IsInRole("SuperUser")))
                                    {
                                        @Html.ActionLink("Assign Roles", "AssignRoles", "Home", new { id = user.Id }, null)
                                    }
                                    |
                                    @if (User.IsInRole("Admin") || (User.IsInRole("Project Manager") || (User.IsInRole("SuperUser"))))
                                    {
                                        @Html.ActionLink("Assign Project", "AssignProjects", "Home", new { userId = user.Id }, null)
                                    }
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>