@model IEnumerable<FSDBugTracker.Models.ApplicationUser>
@using FSDBugTracker.Helpers;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>
                @Html.DisplayName("Display Name")
            </th>
            <th>
                @Html.DisplayName("eMail")
            </th>
            <th>
                @Html.DisplayName("Roles")
            </th>
            <th>
                @Html.DisplayName("Projects")
            </th>
            <th>
                @Html.DisplayName("Assigned Tickets")
            </th>
            <th>
                @Html.DisplayName("Owned Tickets")
            </th>
            <th>
                @Html.DisplayName("Links")
            </th>                   
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @{ 
                        var roleHelper = new UserRolesHelper();
                        var roles = roleHelper.ListUserRoles(user.Id);
                        foreach(var roleName in roles)
                        {
                            @roleName<br />
                        }
                    }
                </td>
                <td>
                    @{
                        var projectHelper = new UserProjectHelper();
                        var projects = projectHelper.ListUserProjects(user.Id);
                        foreach (var project in projects)
                        {
                            @project.Name<br />
                        }
                    }
                </td>
                <td>
                    @{
                        var ticketHelper = new TicketsHelper();
                        var assignedTix = ticketHelper.GetAssignedTickets(user.Id);
                        foreach (var ticket in assignedTix)
                        {
                            @ticket.Title<br />
                        }

                    }
                </td>
                <td>
                    @{
                        ticketHelper = new TicketsHelper();
                        var ownedTix = ticketHelper.GetUserOwnedTickets(user.Id);
                        foreach (var ticket in ownedTix)
                        {
                            @ticket.Title<br />
                        }

                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = user.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = user.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = user.Id }) |
                    @if (User.IsInRole("Admin") || (User.IsInRole("SuperUser"))) 
                    {
                    @Html.ActionLink("Assign Roles", "AssignRoles", "Home", new { id = user.Id }, null) 
                    }   
                    | 
                    @if (User.IsInRole("Admin") || (User.IsInRole("Project Manager") || (User.IsInRole("SuperUser"))))
                    {
                    @Html.ActionLink("Assign Project", "AssignProjects", "Home", new { userId = user.Id }, null)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
