@model IEnumerable<FSDBugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Submitter") || User.IsInRole("SuperUser"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Assignee")
                @*@Html.DisplayNameFor(model => model.AssignedToUser.FirstName)*@
            </th>
            <th>
                @Html.DisplayName("Owner")
                @*@Html.DisplayNameFor(model => model.OwnerUser.FirstName)*@
            </th>
            <th>
                @Html.DisplayName("Project")
            </th>
            <th>
                @Html.DisplayName("Priority")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Created")
            </th>
            <th>
                @Html.DisplayName("Updated")
            </th>
            <th>
                @Html.DisplayName("Links")
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    |
                    @if (User.IsInRole("Admin") || (User.IsInRole("Project Manager") || (User.IsInRole("SuperUser"))))
                    {
                    @Html.ActionLink("Assign User", "AssignDevs", "Tickets", new { ticketId = item.Id }, null)
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
